<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carlos Rocha | Portfolio</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        @media (max-width: 1200px) {
          nav {
            grid-template-columns: 10fr 3fr 3fr 4fr;
          }
        }
        @media (max-width: 750px) {
          nav {
            grid-template-columns: 4fr 3fr 3fr 4fr;
          }
          a {
            font-size: 15px; 
          }
        }
    </style>    
</head>
<body> 
    <nav id="navbar">
        <strong><a href="#projects">Inicio</a></strong>
        <strong><a href="#about_me">Sobre Mi</a></strong>
        <strong><a id="profile-link" href="https://github.com/carlosRochav" target="_blank">Mi Perfil a GitHub</a></strong>       
    </nav>

    